:root {
    --white: 255, 255, 255;
    --grey: 142, 142, 142;
    --pink: #FD0079;
    --light-blue: #45BABF;
    --blue: #5745BF;
    --theme-color: var(--pink);
    --transition-color: var(--light-blue);
    --transition-color-offset: 0%;
    --transparent-color-offset: 0%;
}

/*common*/
body {
    margin: 0;
    padding: 0;
    border: 0;
    font: 25px 'Mulish', 'Roboto', sans-serif;
    font-weight: 400;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

button {
    font-family: 'Mulish', 'Roboto', sans-serif;
    border: none;
}

/*body*/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    color: rgb(var(--white));
    background: var(--theme-color)
                -webkit-linear-gradient(
                    90deg, 
                    var(--transition-color) var(--transition-color-offset),
                    transparent var(--transparent-color-offset)
                );
    background: var(--theme-color)
                -moz-linear-gradient(
                    90deg, 
                    var(--transition-color) var(--transition-color-offset),
                    transparent var(--transparent-color-offset)
                );
    background: var(--theme-color)
                linear-gradient(
                    90deg,
                    var(--transition-color) var(--transition-color-offset),
                    transparent var(--transparent-color-offset)
                );
}

/*main*/
main {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    height: 700px;
}

/*time*/
.time-block {
    display: flex;
    font-size: 130px;
    font-weight: 700;
    color: rgb(var(--white));
    text-align: center;
}

.timer-interval {
    display: flex;
    justify-content: center;
}

/*round-button*/
.round-btn-wrapper {
    position: relative;
    align-self: center;
    margin: 50px 0;
}

.round-btn {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    padding: 0;
    border: 3px solid rgb(var(--white));
    background-color: transparent;
    cursor: pointer;
    transition: 200ms;
}

.round-btn:hover {
    transform: scale(1.05);
    
}

.round-btn:active {
    -webkit-box-shadow: 0 5px 20px rgba(var(--grey), .3);
       -moz-box-shadow: 0 5px 20px rgba(var(--grey), .3);
            box-shadow: 0 5px 20px rgba(var(--grey), .3);
}

/*play-button*/
.play {
    display: block;
}

.play::after {
    content: "";
    position: absolute;
    top: 22.2%;
    left: 34.4%;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
	border-left: 80px solid rgb(var(--white));
	border-bottom: 50px solid transparent;
}

/*pause-button*/
.pause {
    display: none;
}

.pause::before, .pause::after {
    content: "";
    position: absolute;
    top: 26.3%;
    width: 20px;
    height: 85px;
    background-color: rgb(var(--white));
}

.pause::before {
    left: 31.5%;
}

.pause::after {
    right: 31.5%;
}

/*task*/
.task {
    margin-bottom: 50px; 
    text-align: center;
}

/*setting button*/
.btn {
    align-self: center;
    width: 250px;
    height: 70px;
    margin-bottom: 25px;
    padding: 10px 30px;
    border: 3px solid rgb(var(--white));
    background-color: transparent;
    color: rgb(var(--white));
    font-size: 25px;
    text-transform: uppercase;
    line-height: 30px;
    cursor: pointer;
    transition: 200ms;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    -webkit-box-shadow: 0 5px 20px rgba(var(--grey), .3);
       -moz-box-shadow: 0 5px 20px rgba(var(--grey), .3);
            box-shadow: 0 5px 20px rgba(var(--grey), .3);
}

.underline-btn {
    align-self: center;
    border: none;
    border-bottom: 1px dashed rgb(var(--white));
    background-color: transparent;
    color: rgb(var(--white));
    font-size: 18px;
    cursor: pointer;
}

.underline-btn:hover {
    border-bottom-style: solid;
}

.underline-btn:active {
    -webkit-box-shadow: 0px 5px 10px -5px rgba(var(--grey), .3);
       -moz-box-shadow: 0px 5px 10px -5px rgba(var(--grey), .3);
            box-shadow: 0px 5px 10px -5px rgba(var(--grey), .3);
}

/*setting*/
section {
    display: none;
    width: 700px;
    background-color: transparent;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(var(--white));
}

.header h2 {
    margin: 25px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 50px;
}

.close {
    align-self: flex-end;
    width: 50px;
    height: 50px;
    margin: 25px;
    background-color: transparent;
    cursor: pointer;
}

.close::before, .close::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 50px;
    background-color: rgb(var(--white));
}

.close::before {
    transform: rotate(-45deg) translate(15px, -15px);
}

.close::after {
    transform: rotate(45deg) translate(-15px, -15px);
}

.close:hover {
    transform: scale(1.05);
}

.close:active::before,
.close:active::after {
    -webkit-box-shadow: 0 5px 20px rgba(var(--grey), .3);
       -moz-box-shadow: 0 5px 20px rgba(var(--grey), .3);
            box-shadow: 0 5px 20px rgba(var(--grey), .3);
}

.common-setting-form {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.common-setting-form > div {
    margin-bottom: 10px;
}

.common-setting-form label {
    float: left;
}

.common-setting-form .number-input {
    float: right;
    display: flex;
}

.common-setting-form .number-input input, 
.common-setting-form .number-input button {
    width: 50px;
    height: 25px;
    box-sizing: content-box;
    padding: 5px 10px;
    border: 1px solid rgb(var(--white));
    background-color: transparent;
    color: rgb(var(--white));
    font-size: 20px;
    text-align: center;
    outline: none;
    line-height: 25px;
}

.common-setting-form .number-input button {
    width: 25px;
    cursor: pointer;
}

.common-setting-form .number-input input {
    margin: 0 10px;
}

.common-setting-form .number-input input:hover,
.common-setting-form .number-input button:hover {
    transform: scale(1.05);
}

.common-setting-form .number-input input:focus,
.common-setting-form .number-input button:active {
    -webkit-box-shadow: 0 5px 20px rgba(var(--grey), .3);
       -moz-box-shadow: 0 5px 20px rgba(var(--grey), .3);
            box-shadow: 0 5px 20px rgba(var(--grey), .3);
}

.common-setting-form .clear-setting {
    margin-top: 25px;
}

.btn-unbordered-container {
    width: 200px;
    margin: 30px auto;
}

.btn-unbordered {
    align-self: center;
    width: 190px;
    height: 40px;
    padding: 0;
    border: none;
    border-bottom: 2px solid rgb(var(--white));
    background-color: transparent;
    opacity: .9;
    color: rgb(var(--white));
    cursor: pointer;
}
.btn-unbordered:hover {
    opacity: 1;
}

.common-setting-form .btn-container {
    width: 250px;
    margin: 80px auto;
}
